In [4]:
#Print the given sequence of numbers using for loop
count = [10,20,30,40,50]
for num in count:
    print(num)

10
20
30
40
50

 EXAMPLE 2

In [5]:
#Print multiples of 10 for numbers in a given range
for num in range(5):
    if num > 0:
        print(num * 10)

10
20
30
40

EXAMPLE 3

In [15]:
#Print first 5 natural numbers using while loop
count = 1
while count <= 5:
    print(count)
    count += 1

1
2
3
4
5

EXAMPLE 4

In [20]:
entry = 0 
sum1 = 0
print('Enter numbers to find their sum, negative number ends the loop:')
while True :
    #int() typecasts string to integer
    entry = int(input())
    if (entry < 0):
        break
    sum1 += entry
    print('Sum =', sum1)

Enter numbers to find their sum, negative number ends the loop:
Sum = 2
Sum = 5
Sum = 9
Sum = 14
Sum = 19
Sum = 20

EXAMPLE 5

In [21]:
num = 0
for num in range(6):
    num = num + 1
    if num == 3:
        continue
    print("Num has value " + str(num))
print("End of loop")

Num has value 1
Num has value 2
Num has value 4
Num has value 5
Num has value 6
End of loop

EXAMPLE 6

In [22]:
for var1 in range(3):
    print( "Iteration " + str(var1 + 1) + " of outer loop")
    for var2 in range(2): #nested loop
        print(var2 + 1)
    print("Out of inner loop")
print("Out of outer loop")

Iteration 1 of outer loop
1
2
Out of inner loop
Iteration 2 of outer loop
1
2
Out of inner loop
Iteration 3 of outer loop
1
2
Out of inner loop
Out of outer loop

PRACTICE 1

In [23]:
#Python program to swap two cities

#To take inputs from the user 
city_1 = input('Enter name of city 1: ')
city_2 = input('Enter name of city 2: ')

#create a temporary variable and swap the cities
temp = city_1
city_1 = city_2
city_2 = temp

print(f'The name of City 1 after swapping is {city_1}')
print(f'The name of City 2 after swapping is {city_2}')

The name of City 1 after swapping is IJEBU
The name of City 2 after swapping is IKEJA

PRACTICE 2

In [25]:
#Program to check if a number is positive, negative or 0

num = float(input('Enter a number: '))
if num > 0:
    print("Positive number")
elif num == 0:
    print('Zero')
else:
    print("Negative number")

Negative number

PRACTICE 3

In [34]:
#COUPE DE ESCRIVE 2023: FOOTBALL PICKS

print('Welcome to the COUPE DE ESCRIVA 2023: FOOTBALL PICKS\n')
captain = {'Madiba: ' : 'Chubby Obiora-Okafo', 'Blue-Jays: ' : 'Christopher Uweh', 'Cirok: ': 'Alexander', 'TSG Walkers: ': 'Ikechukwu'}
goalkeepers = {'Madiba: ' : 'Chubby Obiora-Okafo', 'Blue-Jays: ' : 'Oladimeji Abaniwondea/Jeffery Awagu', 'Cirok: ': 'Timileyin Pearse/Izuako Jeremy', 'TSG Walkers: ': 'Ayomide Ojituku'}

for pick in captain:
    print(pick,captain[pick])

print("\n")

for pick in goalkeepers:
    print(pick, goalkeepers[pick])

Welcome to the COUPE DE ESCRIVA 2023: FOOTBALL PICKS

Madiba:  Chubby Obiora-Okafo
Blue-Jays:  Christopher Uweh
Cirok:  Alexander
TSG Walkers:  Ikechukwu


Madiba:  Chubby Obiora-Okafo
Blue-Jays:  Oladimeji Abaniwondea/Jeffery Awagu
Cirok:  Timileyin Pearse/Izuako Jeremy
TSG Walkers:  Ayomide Ojituku

    CLASS PROJECT 1

In [36]:
# Girls Data
girl_names = ["Evelyn", "Jessica", "Somto", "Edith", "Liza", "Madonna", "Waje", "Tola", "Aisha", "Latifa"]
girl_ages = [17, 16, 17, 18, 16, 18, 17, 20, 19, 17]
girl_heights = [5.5, 6.0, 5.4, 5.9, 5.6, 5.5, 6.1, 6.0, 5.7, 5.5]
girl_scores = [80, 85, 70, 60, 76, 66, 87, 95, 50, 49]

# Boys Data
boy_names = ["Chinedu", "Liam", "Wale", "Gbenga", "Abiola", "Kola", "Kunle", "George", "Thomas", "Wesley"]
boy_ages = [19, 16, 18, 17, 20, 19, 16, 18, 17, 19]
boy_heights = [5.7, 5.9, 5.8, 6.1, 5.9, 5.5, 6.1, 5.4, 5.8, 5.7]
boy_scores = [74, 87, 75, 68, 66, 78, 87, 98, 54, 60]

# Print Girls Table
print("\nGIRLS TABLE")
print("Name       | Age | Height | Score")
print("---------------------------------")
for i in range(len(girl_names)):
    print(f"{girl_names[i]:<10} | {girl_ages[i]:<3} | {girl_heights[i]:<6} | {girl_scores[i]:<3}")

# Print Boys Table
print("\nBOYS TABLE")
print("Name       | Age | Height | Score")
print("---------------------------------")
for i in range(len(boy_names)):
    print(f"{boy_names[i]:<10} | {boy_ages[i]:<3} | {boy_heights[i]:<6} | {boy_scores[i]:<3}")

GIRLS TABLE
Name       | Age | Height | Score
---------------------------------
Evelyn     | 17  | 5.5    | 80
Jessica    | 16  | 6.0    | 85
Somto      | 17  | 5.4    | 70
Edith      | 18  | 5.9    | 60
Liza       | 16  | 5.6    | 76
Madonna    | 18  | 5.5    | 66
Waje       | 17  | 6.1    | 87
Tola       | 20  | 6.0    | 95
Aisha      | 19  | 5.7    | 50
Latifa     | 17  | 5.5    | 49

BOYS TABLE
Name       | Age | Height | Score
---------------------------------
Chinedu    | 19  | 5.7    | 74
Liam       | 16  | 5.9    | 87
Wale       | 18  | 5.8    | 75
Gbenga     | 17  | 6.1    | 68
Abiola     | 20  | 5.9    | 66
Kola       | 19  | 5.5    | 78
Kunle      | 16  | 6.1    | 87
George     | 18  | 5.4    | 98
Thomas     | 17  | 5.8    | 54
Wesley     | 19  | 5.7    | 60

CLASS PROJECT 2

In [45]:
experience = int(input("Enter years of experience: "))
age = int(input("Enter age of staff: "))

if experience > 25 and age >= 55 :
    atr = 5_600_000
elif experience > 20 and age >+ 45 :
    atr = 4_480_000
elif experience > 10 and age >= 35 :
    atr = 1_500_000
else:
    atr = 500_000

print(f'Annual Tax Revenue (ATR) : N{atr}')

Annual Tax Revenue (ATR) : N1500000